.site-header {
	border-top: 10px solid #ffcd00;
}

blockquote,
.entry-content .wp-block-quote:not(.is-large),
.page-header {
	border-left: 8px solid #ffcd00;
}

abbr[title],
acronym {
	border-bottom: 2px dotted #ffcd00;
}

::selection,
mark,
ins,
.entry-terms a:hover,
.entry-terms a:focus,
.primary-menu .sub-menu .menu-item a:hover,
.primary-menu .sub-menu .menu-item a:focus {
	background: #ffcd00;
}

.footer-widgets a:hover,
.page-numbers.current,
.widget a,
.entry-content a {
	border-color: #ffcd00;
}

.site-info a:hover,
.entry-title a:hover,
.post-navigation a:hover .post-title,
.widget-area-footer a:hover,
.widget-area-footer a:focus,
.entry-title:hover,
.primary-menu .menu-item.current-menu-item > a,
.primary-menu .menu-item a:hover,
.primary-menu .menu-item a:focus {
	color: #ffcd00;
}

.site-header {
	border-top: 10px solid #ffcd00;
}

.site-title a,
.calendar_wrap a,
.mejs-horizontal-volume-slider:hover,
.widget_meta a:hover,
.widget_pages a:hover,
.widget_tag_cloud a:hover,
.widget_recent_entries a:hover,
.widget_archive a:hover,
.widget_categories a:hover,
.widget_recent_comments a:hover {
	border-bottom: 2px solid #ffcd00;
}

.menu-toggle {
	border: 1px solid #ffcd00;
	background: #ffcd00;
}
