/* For markdown-notices */
.notices p {
    margin-bottom: 18px;
    margin-right: 18px;
}

.notices.yellow a {
    color: #df8a13;
}

.notices.red a {
    color: #b52b27;
}

.notices.blue a {
    color: #28a1c5;
}

.notices.green a {
    color: #3d8b3d;
}

/* For highlight */
.hljs table {
    width: auto;
}

.hljs tr {
    border: 0;
}

code.hljs {
    padding: 0;
    margin: -0.7rem;
}

table.hljs-ln {
    margin: 0;
}
